<div id="signup-container">
  <div class="section-header">
    <h2 id="signup-header">Signup</h2>
  </div>
  <div class="section-content">
    <%if session[:error_msg] != nil%>
    <div class="signin_error"><%=session[:error_msg]%></div>
    <%end%>
    <form action="/users/create">
      <div class="form-input">
        <label>Full Name (used to identify you amoung peers)</label>
        <input type="text" name="username">
      </div>
      <div class="form-input">
        <label>Email</label>
        <input type="text" name="email">
      </div>
      <div class="form-input">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <div class="form-input">
        <label>Confirm Password</label>
        <input type="password" name="password_confirmation">
      </div>
      <input type="submit" class="button-1" value="Signup">
    </form>
  </div>
</div>