<div id="user-view-container">
  <div class="section-header">
    <h1 id="user-view-header"><%=@user.username%></h2>
  </div>
  <div class="section-content">
    <p><%=@user.email%></p>
    <%if @user.usertype == 3%>
      <p>Admin</p>
    <%elsif @user.usertype == 2%>
      <p>Teacher</p>
    <%else%>
      <p>Student</p>
    <%end%>
    <%if session[:user_id].to_s == @user.id.to_s%>
      <a href="/users/edit/<%=@user.id%>">Edit</a>
    <%end%>
  </div>
</div>